<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Project</title>
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">BOOK PROJECT</div>
                <div class="col-1 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:types></vc:types>
            <br />
            @*add picture to make site more appealing across the board*@
            <img class="img-fluid" src="~/books.jpg" alt="Books">
        </div>
        @*<img style="width:500px;height:600px;" src="~/books.jpg" />*@
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>