@page
@model BookProject.Pages.PurchaseCompletedModel
@{
}

@*display page of completion when purchased*@

<div class="text-center">
    <h2>Thanks! Your order will be delivered shortly!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>